<html>
    <body>
        <h1>TextAnalyzer Output:</h1>
        <h2>
          {{#analysisList}}
            <ul> {{analyzerName}} :  {{analysisMap}}</ul>
          {{/analysisList}}
         </h2>     
    </body>
</html>


